@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$black: rgba(black, 0.4);
$page-padding: 9rem;
@mixin p-styles{
    margin: 0;
    font-size: 18px;
}
@mixin a-styles{
    text-decoration: none; 
    color: white;
    background-color: rgb(133, 127, 132);
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem $page-padding;
    position: relative;
}

header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px $black;
    padding: 0.3rem 0;
    margin-bottom: 2rem;
    img{
        height: 56px;
        width: 56px; 
    }
    h1{
        font-size: 25px;
    }
}
main{
    display: flex;
    flex-direction: column;
    p{
        @include p-styles;
        line-height: 2rem;
    }
    article{
        margin-top: 3rem;
        ul{
            list-style-type: none;
            padding-left: 0;
            li{
                margin-bottom: 1.5rem;
                a{
                    @include a-styles;  
                }
                a:hover{
                    box-shadow: 0 0 0.5rem 0.05rem $black;
                }
            }
        }
    }
}
footer{
    position: absolute;
    bottom: 3rem;
    right: 0;
    margin-right: $page-padding;
    text-align: center;
    a{
        color:rgb(38, 30, 48)
    }
}

@media(max-width: 1000px){
    body{
        padding: 1rem 6rem;
    }
    footer{
        margin-right: 6rem;
    }
}
@media(max-width: 800px){
    body{
        padding: 1rem 3rem;
    }
    footer{
        margin-right: 3rem;
    }
}
@media(max-width: 500px){
    body{
        padding: 1rem 1rem;
    }
    header{
        flex-direction: column-reverse;
    }
    footer{
        margin-right: 50%;
        transform: translateX(50%);
    }
}
